<html>
<head>
<meta charset="UTF-8">
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<body background="http://www.bloggang.com/data/sriratri/picture/1227287046.jpg">
<center>
	<h1>เว็บรวมเพลงพระราชนิพนธ์</h1>
	<img src = "http://www.chaoprayanews.com/wp-content/uploads/2009/02/vimanmek441.jpg">
	<br>
	<br>
	พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดชฯ ทรงเป็นพระมหากษัตริย์ที่เคารพรักและเทิดทูนของปวงชนชาวไทย เช่นเดียวกับพระมหาบูรพกษัตริย์ทุกพระองค์ <br>
	แห่งราชวงศ์จักรีที่ปกครองประเทศชาติให้ผ่านพ้นผองภัย นานาประการมากว่า 200 ปี ในช่วงปีพุทธศักราช 2503 <br>
	บรรดาประเทศเพื่อนบ้านใกล้เรือนเคียงของเรา มีปัญหาการปกครองภายในเปลี่ยนแปลงเข้าสู่ ลัทธิการเมืองใหม่ที่นำมาซึ่งความขัดแย้งรุนแรง <br>
	แต่ไทยเรารอดปลอดภัยมาได้เพราะพระองค์เป็นศูนย์รวมจิตใจของคนไทยทุกคน โครงการงานในพระราชดำริมากมายที่พระองค์ทรงริเริ่ม <br>
	ได้สร้างประโยชน์สุขให้แก่พสกนิกร ทั่วราชอาณาจักร เป็นที่เลื่อมใสศรัทธาของนานาประเทศ ถึงกับมีผู้กล่าวไว้ว่า พระองค์ทรงเป็นพระมหากษัตริย์ที่ทรงแต่งานเป็นกิจวัตรหลัก <br>
	เป็นที่น่าพิศวงยิ่งนัก แม้พระองค์จะทรงมีภารกิจต่างๆ มากมาย แต่พระองค์ก็ยังทรงมีเวลาสร้างสรรค์พระราชนิพนธ์ทางดนตรี ที่มีความไพเราะไว้มาก ซึ่งยังติดตรึงใจปวงชนชาวไทยตลอดมา <br>
	<br>
	<br>
	<br>
</center>	

	

</html>