<html>
<head>
<meta charset="UTF-8">
	<title>ใกล้รุ่ง</title>
</head>
<body background="http://www.bloggang.com/data/sriratri/picture/1227287046.jpg">
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<br>
<br>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/GZ6zFcF3044" frameborder="0" allowfullscreen></iframe><br>
	<h1>เพลงใกล้รุ่ง</h1>
	<FONT COLOR=green>ทำนอง: พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช <br>
คำร้อง: พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ ร่วมกับ ศาสตราจารย์ ดร.ประเสริฐ<br></FONT>
<br>
ได้ยินเสียงแว่วดังแผ่วมาแต่ไกลไกล <br>
ชุ่มชื่นฤทัยหวานใดจะปาน<br>
ฟังเสียงบรรเลงขับเพลงประสาน<br>
จากทิพย์วิมานประทานกล่อมใจ<br>
<br>
ใกล้ยามเมื่อแสงทองส่อง<br>
ฉันคอยมองจ้องฟ้าเรืองรำไร<br>
ลมโบกโบยมาหนาวใจ<br>
รอช้าเพียงไรตะวันจะมา<br>
<br>
เพลิดเพลินฤทัยฟังไก่ประสานเสียงกัน<br>
ดอกมะลิวัลย์อวลกลิ่นระคนมณฑา<br>
โอ้ในยามนี้เพลินหนักหนาแสงทองนวลผ่องนภา<br>
แสนเพลินอุราสำราญ<br>
<br>
หมู่มวลวิหคบินผกมาแต่รังนอน<br>
เฝ้าเชยชิดช้อนลิ้มชมบัวบาน<br>
ยินเสียงบรรเลงดังเพลงขับขาน<br>
สอดคล้องกังวานซาบซ่านจับ<br>
<br>
<br>

</center>	

</html>